@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    width: 100%;
    height: 100%;
}
.main {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  height: 100%;
}

.main-item-left {
  background-color: #1e213a;
  flex: 35%;
  overflow-y: auto;
}

.main-item-right {
  background-color: #100e1d;
  flex: 65%;
  overflow-x: auto;
}

.main-item-left-slide {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0; 
  background-color: #1e213a;
  width: 100%;
  height: 100%;
  z-index: 50;
}

@keyframes shimmer {
  100% {
      transform: translateX(100%);
  }
}

.content-loader{
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  background: transparent;
}

.content-loader--fx {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-position: 0 0;
  background-size: 1000 100;
  animation:  shimmer infinite alternate ease-in-out;
  opacity: 10%;
}

input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

@media (max-width: 900px) {
  .main-item-left, .main-item-right {
    flex: 100%;
  }
 
}
@media (min-width: 900px) {
  .main-item-left-slide {
    width: 35%;
  }

}


